body {
    background: #111111;
    font-family: 'Open Sans', Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0px;
}

.content-header {
    display: flex;
    position: relative;
    top: 100px;
    color: #ffffff;
}