body {
    background-image: url('../assets/bg.png');
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
    font-family: 'Open Sans', Arial, sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0px;
}
