.moviesList {
    max-width: 1200px;
    margin: 0 auto;
    flex-direction: column;
    display: flex;
    position: relative;
    top: 100px;
}

.moviesList-headerBar {
    height: 75px;
    width: 100%;
    display: flex;
    position: relative;
}

.moviesList-headerBar-title {
    color: #ffffff;
    margin-left: 10px;
}

.moviesList-container {
    display: flex;
    position: relative;
    width: 100%;
    flex-direction: row;
    flex-wrap: wrap;
}

.moviesList-containerRow {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
}

.moviesList-containerRow-placeholder,
.moviesList-containerRow-item {
    margin: 0 10px;
    width: 18%;
    position: relative;
    text-align: center;
}

.moviesList-containerRow-item:hover {
    opacity: 0.7;
}

.moviesList-containerRow-itemCover:hover {
    background-image: radial-gradient(transparent, #000000);
}


.moviesList-containerRow-itemImage {
    width: 100%;
    height: auto;
}

.moviesList-containerRow-itemTitle {
    color: #ffffff;
    border-bottom: 1px solid #262626;
    padding-bottom: 5px;
    text-decoration: none;
    font-size: 16px;
}
