<head>
    <link rel="stylesheet" type="text/css" href="~/slick/slick.css" />
</head>

<body>

    <!--TODO add link from api-->
    <div class="heroCarousel">
        <div class="heroCarousel-item">
            <div class="heroCarousel-item-cover"></div>
            <div class="heroCarousel-item-details">
                <h2 class="heroCarousel-item-detailsTitle">Avengers: Endgame</h2>
                <h4 class="heroCarousel-item-detailsTags">Fantasy | Science Fiction | 182 min</h4>
                <a href="#" class="heroCarousel-item-detailsBuyTicket">Buy ticket</a>
            </div>
            <img src="~/assets/Avengers-Koniec-gry-slider-d.jpg" class="heroCarousel-item-image" />
        </div>
        <div class="heroCarousel-item">
            <div class="heroCarousel-item-cover"></div>
            <div class="heroCarousel-item-details">
                <h2 class="heroCarousel-item-detailsTitle">Shazam!</h2>
                <h4 class="heroCarousel-item-detailsTags">Fantasy | Action | 132 min</h4>
                <a href="#" class="heroCarousel-item-detailsBuyTicket">Buy ticket</a>
            </div>
            <img src="~/assets/shazam-slider-d.jpg" class="heroCarousel-item-image" />
        </div>
    </div>

    <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
    <script type="text/javascript" src="~/slick/slick.min.js"></script>
    <script src="~/slick/slick-init.js"></script>

</body>
