@model CinemaClient.Models.Movie

@{
    ViewData["Title"] = Model.Name;
}

<h2 class="content-text">MovieDetails</h2>

<h4 class="content-text">Name - @Model.Name</h4>
<p class="content-text">
    Description - @Model.Description
</p>

