/* Slider */
.slick-slider
{
    position: relative;
    background: #000;
    display: block;
    top: 70px;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}

.slick-prev,
.slick-next
{
    font-size: 0px;
    color: white;
    line-height: 0;
    position: absolute;
    top: 50%;
    width: 2px;
    height: 20px;
    padding: 0;
    transform: translate(0, -250%);
    cursor: pointer;
    color: transparent;
    border: none;
    outline: none;
    background: transparent;
    display: block;
}

    .slick-next{
        right: 125px;
    }

    .slick-prev {
        left: 55px;
        z-index: 100;
    }

        .slick-prev:hover,
        .slick-next:hover {
        }

    .slick-arrow.slick-hidden {
    display: none;
}

    .slick-arrow-icon {
        height: 100px;
        width: 70px;
    }

.heroCarousel-item {
    position: relative;
}

.heroCarousel-item-image {
    width: 100%;
}

.heroCarousel-item-cover {
    width: 100vw;
    height: 100%;
    position: absolute;
    background-image: linear-gradient(to top, black, transparent);
}

.heroCarousel-item-details {
    color: #fff;
    position: absolute;
    bottom: 25px;
    width: 50%;
    left: 25%;
}

.heroCarousel-item-detailsTitle {
    position: absolute;
    bottom: 50px;
    left: 25px;
}
.heroCarousel-item-detailsTags {
    position: absolute;
    bottom: 25px;
    left: 25px;
}

.heroCarousel-item-detailsBuyTicket {
    position: absolute;
    right: 50px;
    padding: 10px;
    bottom: 25px;
    border: 2px solid #969696;
    text-decoration: none;
    color: #fff;
}

@media only screen and (max-width: 1000px) {
    .slick-arrow-icon {
        height: 60px;
        width: 40px;
    }

    .heroCarousel-item-detailsTitle {
        left: 0px;
        font-size: 18px;
    }

    .heroCarousel-item-detailsTags {
        left: 0px;
        font-size: 14px;
    }

    .heroCarousel-item-detailsBuyTicket {
        right: 0;
        padding: 5px;
        border: 1px solid #969696;
        font-size: 14px;
    }
}
